kind: CronJob
apiVersion: batch/v1
metadata:
  name: trustify-dumps-create-dump
  labels:
    app.kubernetes.io/name: trustify-dumps-create-dump
    app.kubernetes.io/component: create-dump
    app.kubernetes.io/part-of: trustify-dumps
spec:
  schedule: "0 1 * * *" # daily at midnight
  suspend: false

  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: trustify-dumps-create-dump
            app.kubernetes.io/component: create-dump
            app.kubernetes.io/part-of: trustify-dumps
        spec:
          securityContext:
            runAsNonRoot: true
          restartPolicy: OnFailure
          containers:
            - name: run
              image: ghcr.io/guacsec/xtask:latest
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
                seccompProfile:
                  type: RuntimeDefault
              env:
                - name: TRUSTD_DB_MIN_CONN
                  value: "2"
                - name: TRUSTD_DB_MAX_CONN
                  value: "4"
                - name: RUST_LOG
                  value: info
                - name: S3_BUCKET_NAME
                  value: "trustify-dumps"
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: aws-secret
                      key: access_key_id
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: aws-secret
                      key: secret_access_key
                - name: AWS_DEFAULT_REGION
                  value: "eu-west-1"
              command:
                - bash
                - -c
                - |
                  set -xe
                  set -o pipefail
                  mkdir -p /mnt/data/builder/work
                  export TRUSTD_STORAGE_FS_PATH=/mnt/data/builder/work/storage # need this for now, because of data migration
                  /app/target/release/xtask generate-dump --working-dir /mnt/data/builder/work --output /mnt/data/builder/work/dump.sql --input /etc/config/input.yaml |& tee /mnt/data/builder/work/dump.log
                  cd /mnt/data/builder/work

                  rm -f dump.sql.gz
                  rm -f dump.log.gz

                  gzip dump.sql
                  gzip dump.log
                  tar cvf dump.tar /mnt/data/builder/work/storage

                  DATE=$(date -u +"%Y%m%dT%H%M%SZ")

                  for i in dump.tar dump.log.gz dump.sql.gz; do
                      aws s3 cp "$i" "s3://$S3_BUCKET_NAME/$DATE/$i"
                  done
              resources:
                requests:
                  memory: 6Gi
              imagePullPolicy: Always
              volumeMounts:
                - mountPath: /etc/config
                  name: config
                  readOnly: true
                - mountPath: /mnt/data/builder
                  name: builder
                  readOnly: false
          volumes:
            - name: config
              configMap:
                name: trustify-dumps-import-config
            - name: builder
              ephemeral:
                volumeClaimTemplate:
                  spec:
                    accessModes: [ "ReadWriteOnce" ]
                    resources:
                      requests:
                        storage: 256Gi
